body      {background-color: #b6bff2}
p {
    background-color: #b6bff2;
}
h1 {
    background-color: #b6bff2;
}
ul.breadcrumb {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
h2 {
    background-color: #b6bff2;
}
